*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

.form > .form-element {
  position: relative;
  margin-bottom: 30px;
}

.form > .form-element > input {
  border: 0;
  outline: none;
  height: 30px;
  border-bottom: 1px solid #333;
}

.form > .form-element > .form-label {
  display: inline-block;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid blue;
  transition: 0.5s ease;
}

.form > .form-element > .form-label > .label-content{
  position: relative;
  top: 0;
  font-size: 0.9rem;
  color: #333;
  transition: 0.5s ease;
}

/*Animation*/
.form > .form-element > input:focus + .form-label,
.form > .form-element > input:valid + .form-label {
  width: 100%;
}

.form > .form-element > input:focus + .form-label > .label-content,
.form > .form-element > input:valid + .form-label > .label-content {
  top: -25px;
  font-size: 0.7rem;
  color: blue;
}
  